<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "layouts/partials/shim" %>
  </head>

  <body>
    <%= render "layouts/partials/header" %>
    <div class="container">
      <%= yield %>
      <%= render "layouts/partials/footer" %>
    </div>
  </body>
</html>
